.criteriaDropdown:active {
    background-color: #d4d1fd !important;
}

.criteriaDropdown:hover {
    background-color: white !important;
    color: black;
}

.criteriaDropdownBtn:active {
    background-color: white !important;
}

.criteriaDropdownBtn:hover {
    background-color: white !important;
}

.bgBtn {
    background-color: #236a90 !important;
    border: none;
    cursor: auto;
    transition: 0.5s !important;
}

.textGradient {
    background: linear-gradient(45deg, #1c1579 33%, #ffffff 66%, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}

.bgBtn:hover {
    background: linear-gradient(205deg, #2c8fc4 33%, #226e97 66%, #2c8fc4);
}

.bgBtn:active {
    background: linear-gradient(35deg, #2c8fc4 33%, #226e97 66%, #2c8fc4);
}

