.criteriaDropdown:active {
    background-color: #d4d1fd !important;
} 

.criteriaDropdown:hover {
    background-color: white !important;
    color: black;
}

.criteriaDropdownBtn:active {
    background-color: white !important;
}

.criteriaDropdownBtn:hover {
    background-color: white !important;
}

.bgBtn {
    background-color: #7568c5 !important;
    border: none;
    cursor: auto;
}

.bgBtn:hover {
    background: linear-gradient(205deg, #6154b3 33%, #a188ed 66%, #7568c5);
}

.bgBtn:active {
    background: linear-gradient(35deg, #6154b3 33%, #a188ed 66%, #6154b3);
}

.btnSave {
    background-color: #3f937b !important;
    border: none;
    cursor: auto;
}

.btnSave:hover {
    background: linear-gradient(205deg, #266855 33%, #37967b 66%, #266855);
}

.btnSave:active {
    background: linear-gradient(35deg, #266855 33%, #37967b 66%, #266855);
}

.btnReset {
    background-color: #d35959 !important;
    border: none;
    cursor: auto;
}

.btnReset:hover {
    background: linear-gradient(205deg, #c32121 33%, #da6a6a 66%, #c32121);
}

.btnReset:active {
    background: linear-gradient(35deg, #c32121 33%, #da6a6a 66%, #c32121);
}

.card {
    box-shadow: 5px 4.5px 7px -3px #938f9f;
}
