body {
    font-family: "Montserrat", sans-serif;
    background: #f2fcff;
    background: -webkit-linear-gradient(0deg, #f2fcff 0%, #d4faff 50%, #e3e0ff 100%);
    background: linear-gradient(0deg, #f2fcff 0%, #d4faff 50%, #e3e0ff 100%);
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input[type=checkbox] {
    cursor: pointer;
    background-color: #2c8fc4;
    border: none;
}

.form-check-label {
    cursor: pointer;
}
